<div class="mainBackgroundImage">

  <div class="sideMenu"></div>
  <div class="ladiesContent">

    <div class="ladiesContentTitle">
      RECENT ARTICLES
    </div>
    <div class="ladiesContentBorder">
    </div>

    <div class="row">
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></diviv>
      <div class="col-md-6 ladyBox"></div>
      <div class="col-md-6 ladyBox"></div>
    </div>
    <div>

  </div>
</div>


