<div class="articleShowContent">

  <div class="articleTopImage">
  </div>

  <div class="articleShowTitle">
    <%= @article.title %>
  </div>

  <div class="ladiesContentBorder">
  </div>

  <div class="articleContents">
    <h2 class="articleSubTitle">
      パワースポットは女子だけのものじゃない
    </h2>
    <p class="articleContentText">
      「パワースポット」と聞くと、女性が好んで足を運ぶイメージが強いかもしれません。男性の場合、「そんな非科学的なことで人生が好転するはずがない」とか「神に幸運を願うなんて他力本願だ」とか考えて、まったく興味を持たない人も多いでしょう。
　しなしながら、男性にも出世したい、お金持ちになりたい、モテたいといった願いはあるはずで、そのために「神頼み」を有効活用するのは悪いことではありません。
　パワースポットは特別なパワーがある場所で、私たちの「潜在意識」に影響を与えてくれる場所です。昔から自己啓発書の名著で語られているように、現実は自分の意識が反映されたものですから、潜在意識を変えることはそのまま人生を好転させることにつながります。
　そもそも初詣には男女問わず大多数の人が行っているわけですし、偏見や固定観念をなくして、男性も積極的にパワースポットへ足を運んでみてもよいのではないでしょうか。
　とはいえ、男性向けのパワースポット情報が少ないのも事実。ということで、今回は秀和システムさんから刊行された『はじめての男のパワースポットマニュアル 神社編』を参考に、パワースポットに行ったことがないという現役大学生モデル・中尾有伽さんと一緒に、パワースポットの正しい参拝方法について紹介します。
    </p>


  </div>

</div>