<div class="articleShowContent">

  <div class="articleTopImage" style="background-image: url(<%= @article.images.first.name %>);">
  </div>

  <div class="articleShowTitle">
    <%= @article.title %>
  </div>

  <div class="ladiesContentBorder">
  </div>

  <div class="articleContents">
    <h2 class="articleSubTitle">
      パワースポットは女子だけのものじゃない
    </h2>
    <p class="articleContentText">
      <%= @article.content %>
    </p>


  </div>

</div>